body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Link - decoration */

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-top: 10px;
}

p {
  color: #14213d;
}


a:link {
  color: #14213d;
}

a:visited {
  color: #14213d;
}

a:focus {
  color: #14213d;
}

a:hover {
  color: #005f73;
}

a:active {
  color: #ffffff;
}

/* Navigation */

nav {
  background-color: #ee9b00;
  height: 50px;
  flex-direction: row;
  text-align: center;
  font-size: 20px;
}

nav li {
  display: inline;
  float: center;
  padding: 0 40px 0 40px;
}

/* MAIN */

.flex-container {
  display: flex;
  width: 100%;
}

/* MAIN - sidebar */
.sidebar {
  background-color: #e5e5e5;
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 20px 20px 10px 0;
}

.sidebar li {
  font-size: 18px;
  padding: 20px 0 0 0 ;
}

/* MAIN - flex-container */

.main-content{
  width: 80%;
}

.flex-row {
  display: flex;
  margin: 20px 0 10px 0;
}

.image {
  width: 35%;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 0 10px 0;
}

.mountain-image {
  width: 100%;
  height: auto;
}

.text-mountain {
  width: 60%;
  height: auto;
  border: solid 1px #e5e5e5;
  padding: 0 50px 0 20px;
  margin-left: 10px;
}

.text-mountain-reverse {
  width: 60%;
  height: auto;
  border: solid 1px #e5e5e5;
  padding: 0 20px 0 50px;
  margin-right: 10px;
}

/* Footer */

footer {
  background-color: #005f73;
  height: 50px;
  flex-direction: row;
  text-align: center;
  font-size: 20px;
}

footer li {
  display: inline;
  float: center;
  padding: 0 100px 0 100px;
}

footer a:link {
  color: #e5e5e5;
}

footer a:visited {
  color: #e5e5e5;
}

footer a:focus {
  color: #e5e5e5;
}

footer a:hover {
  color: #000000;
}

footer a:active {
  color: #ffffff;
}

/* New Blog-Text */

.newBlogText {
  text-align: center;
  background-color: #e5e5e5;
  padding-top: 15px;
}

h2 {
  color: #005f73;
}

label {
  font-style: italic;
  color: #14213d;
  margin-bottom: 12px;
  display: block;
}

.loadNewImage {
  margin: 40px 0 50px 0;
}

.loadNewText {
  margin: 20px 0 30px 0;
}

#button {
  background-color: #005f73;
  color: #e5e5e5;
  font-size: large;
  width: 100px;
  height: 35px;
  border-color: #e5e5e5;
  margin-bottom: 40px;
}

@media (max-width: 1800px) {
  p {
    font-size: 14px;
  }
}

@media (max-width: 1580px) {
  li {
    font-size: 16px;
  }
  .sidebar {
    width: 10%;
  }
  .sidebar li {
    font-size: 16px;
  }
  .main-content{
    width: 90%;
  }
  .image{
    width: 40%;
  }
  footer li{
    padding: 0 50px 0 50px;
  }
}


@media (max-width: 1390px) {
  .image{
    width: 50%;
  }
}

@media (max-width: 1350px) {
  header{
    text-align: center;
  }
  .main-content{
    margin-top: 10px;
  }
  .sidebar{
    width: 20%;
  }
  .flex-row{
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
  }
  .flex-row-reverse{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .image{
    width: 100%;
    margin: 0 20px 20px 0;
  }
  .text-mountain{
    width: auto;
    margin: 0 20px 10px 0;
  }  
  .text-mountain-reverse{
    width: auto;
    margin: 0 20px 10px 0;
    padding: 10px 20px 0 15px;
  }  
}


@media (max-width: 975px) {
  nav li {
    padding: 0 20px 0 20px;
  }
  footer li{
    padding: 0 20px 0 20px;
  }
}

@media (max-width: 675px) {

  .flex-container{
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .sidebar{
    height: auto;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
}
  .main-content{
    width: 100%;
  }
  footer{
    height: auto;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    padding-bottom: 2px;
  }
  footer ul {
    width: 100%;
  }
  footer li {
    display: block;
    padding: 5px 0;
  }
}


@media (max-width: 560px) {
nav {
  height: auto;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-size: 20px;
  padding-bottom: 2px;
}
nav ul {
  width: 100%;
}
nav li {
  display: block;
  padding: 5px 0;
} 
}